# Promise
snippet pr
	new Promise(function(${1:resolve}, ${2:reject}) {
		${3}
	})${4}

# Promise with variable
snippet vpr
	var ${1} = new Promise(function(${2:resolve}, ${3:reject}) {
		${4}
	})${5}

# Promise.all
snippet pra
	Promise.all(${1})${2}

# Promise.then
snippet prt
	.then(function(${1:result}) {
		${2}
	})

# Promise.catch
snippet prc
	.catch(function(${1:error}) {
		${2}
	})

snippet prtt
	.then(function(${1:result}) {
		${2}
	}, function(${3:error}) {
		${4}
	})